:root{
    --main-white: #ffffff;
    --secondary-gray: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
}

body{
    background-color: var(--background-color);
    color: var(--main-white);
}

.title-container{
    font-size: 28px;
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
 }

 .main-class{
    background-image: url("img/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
 }

 .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
 }

 .button-container{
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
 }

 .secondary-button-container{
    background-color: transparent;
    border: 2px solid var(--main-white);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
 }