:root{
    --main-white: #ffffff;
    --secondary-gray: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --main-font: 'Inter';
}

body{
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.title-container{
    font-size: 28px;
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
 }

 .main-class{
    background-image: url("img/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
 }

 .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
 }

 .box-conatiner{

   margin: 0 6em;

 }

 .img-container{
   margin: 1em 0 2em 0;
 }

 .button-container{
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
 }

 .secondary-button-container{
    background-color: transparent;
    border: 2px solid var(--main-white);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    display: block;
    text-decoration: none;
 }

 .ads-container{
   font-size: 12px;
   color: var(--secondary-gray);
 }

 .secondary{
   align-items: center;
   margin: 0 10em;
 }

 .secondary-img{
   width: 80%;
 }

 .description-title{
   font-size: 48px;
   font-weight: 700;
   color: var(--main-white);
   margin-bottom: 0.1em;
 }

 .description-text{
   color: var(--secondary-gray);
 }
