  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  div {
    width: 100%;
    padding: 100px;
  }

  button{
    color: red;
    border-radius: 25%;
    height: 10px;
  }

  .one {
    background: thistle;
  }

  .two {
    background: mistyrose;
  }

  .three {
    background: coral;
  }